<!-- Wrapper Start -->
<div class="wrapper">
    <div class="content-page">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12 mb-size">
                    <div class="card car-transparent">
                        <div class="card-body p-0">
                            <div class="profile-image position-relative">
                                <img src="../../../assets/images/banner.jpg" class="img-fluid rounded w-100"
                                    alt="profile-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-sm-0 px-3">
                <div class="col-lg-9 card-profile mb-size">
                    <div class="card">
                        <div class="card-header row">
                            <div class="col-lg-4">
                                <p>Que estas buscando para tu evento?</p>
                            </div>
                            <div class="col-lg-8">
                                <div class="input-group mb-4">
                                    <input type="text" class="form-control data" placeholder="Ingresa tu busqueda">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary search" type="button">Buscar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <span>Sugerencias: </span>
                                <button type="button" class="btn btn-primary btn-sm mr-2" *ngFor="let tag of tags;" (click)="searchTag(tag.nombre)">{{tag.nombre}}</button>
                            </div>

                        </div>
                        <div class="card-body mb-size">
                            <blockquote class="blockquote">
                                <p class="mb-0 search-text padding-left">Aqui apareceran los resultados de tu busqueda</p>
                            </blockquote>
                            <div class="col-sm-6 col-md-6 col-lg-3 search-result" *ngFor="let search of searchs;">
                                <div class="card">
                                   <img src="../assets/images/banners/{{search.img1}}.jpg" class="card-img-top" alt="#">
                                   <div class="card-body">
                                      <p class="margin-tk-bottom"><b>{{search.nombre}}</b></p>
                                      <p class="card-text">{{search.slogan}}</p>
                                      <a href="/#/perfil/{{search.url}}" target="_blank" class="btn btn-primary text-tk-white">Ver mas</a>
                                   </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 card-profile mb-size">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="profile-img position-relative">
                                    <img src="../../../assets/images/logo2.jpg" class="img-fluid rounded avatar-110"
                                        alt="profile-image">
                                </div>
                                <div class="ml-3">
                                    <h4 class="mb-1">talentuko.com</h4>
                                    <p class="mb-2">Tu lugar en Internet</p>
                                </div>
                            </div>
                            <span>Quieres tener un mayor alcance en tu negocio?.</span><br>
                            <span>Has llegado al lugar indicado.</span><br>
                            <span>Anunciate con nosotros.</span><br>
                            <span>Ten un lugar en internet accesible
                                desde cualquier dispositivo pc, tablet,
                                smartphone.</span>
                            <ul class="list-inline p-0 m-0">
                                <li class="mb-2">
                                    <div class="d-flex align-items-center">
                                        <svg class="svg-icon mr-3" height="16" width="16"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                                        </svg>
                                        <p class="mb-0">Zumpango Edo.Mex.</p>
                                    </div>
                                </li>
                                <li class="mb-2">
                                    <div class="d-flex align-items-center">
                                        <svg class="svg-icon mr-3" width="16" height="16" viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <defs>
                                                <style>
                                                    .cls-1,
                                                    .cls-2 {
                                                        fill: none;
                                                        stroke: #676E8A;
                                                        stroke-linecap: round;
                                                        stroke-width: 1.5px;
                                                    }

                                                    .cls-1 {
                                                        stroke-linejoin: bevel;
                                                    }

                                                    .cls-2 {
                                                        stroke-linejoin: round;
                                                        fill-rule: evenodd;
                                                    }
                                                </style>
                                            </defs>
                                            <g id="ic-contact-mail">
                                                <rect class="cls-1" x="2" y="5" width="20" height="14" rx="2" />
                                                <path class="cls-2" d="M2.58,5.59l8.23,8.22a2,2,0,0,0,2.83,0l8-8" />
                                            </g>
                                        </svg>
                                        <p class="mb-0">anunciate@talentuko.com</p>
                                    </div>
                                </li>
                                <li class="mb-2">
                                    <div class="d-flex align-items-center">
                                        <svg fill="#676E8A" width="16" height="16" viewBox="0 0 24 24" id="phone"
                                            data-name="Line Color" xmlns="http://www.w3.org/2000/svg"
                                            class="icon line-color svg-icon mr-3">
                                            <path id="primary"
                                                d="M21,15v3.93a2,2,0,0,1-2.29,2A18,18,0,0,1,3.14,5.29,2,2,0,0,1,5.13,3H9a1,1,0,0,1,1,.89,10.74,10.74,0,0,0,1,3.78,1,1,0,0,1-.42,1.26l-.86.49a1,1,0,0,0-.33,1.46,14.08,14.08,0,0,0,3.69,3.69,1,1,0,0,0,1.46-.33l.49-.86A1,1,0,0,1,16.33,13a10.74,10.74,0,0,0,3.78,1A1,1,0,0,1,21,15Z"
                                                style="fill: none; stroke: rgb(103,110,138); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
                                            </path>
                                        </svg>
                                        <p class="mb-0"><a href="tel:5584791928">5584791928</a>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center">
                                        <svg class="svg-icon mr-3" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                            width="16" height="16" viewBox="0 0 48 48">
                                            <path fill="#fff"
                                                d="M4.868,43.303l2.694-9.835C5.9,30.59,5.026,27.324,5.027,23.979C5.032,13.514,13.548,5,24.014,5c5.079,0.002,9.845,1.979,13.43,5.566c3.584,3.588,5.558,8.356,5.556,13.428c-0.004,10.465-8.522,18.98-18.986,18.98c-0.001,0,0,0,0,0h-0.008c-3.177-0.001-6.3-0.798-9.073-2.311L4.868,43.303z">
                                            </path>
                                            <path fill="#fff"
                                                d="M4.868,43.803c-0.132,0-0.26-0.052-0.355-0.148c-0.125-0.127-0.174-0.312-0.127-0.483l2.639-9.636c-1.636-2.906-2.499-6.206-2.497-9.556C4.532,13.238,13.273,4.5,24.014,4.5c5.21,0.002,10.105,2.031,13.784,5.713c3.679,3.683,5.704,8.577,5.702,13.781c-0.004,10.741-8.746,19.48-19.486,19.48c-3.189-0.001-6.344-0.788-9.144-2.277l-9.875,2.589C4.953,43.798,4.911,43.803,4.868,43.803z">
                                            </path>
                                            <path fill="#cfd8dc"
                                                d="M24.014,5c5.079,0.002,9.845,1.979,13.43,5.566c3.584,3.588,5.558,8.356,5.556,13.428c-0.004,10.465-8.522,18.98-18.986,18.98h-0.008c-3.177-0.001-6.3-0.798-9.073-2.311L4.868,43.303l2.694-9.835C5.9,30.59,5.026,27.324,5.027,23.979C5.032,13.514,13.548,5,24.014,5 M24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974 M24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974 M24.014,4C24.014,4,24.014,4,24.014,4C12.998,4,4.032,12.962,4.027,23.979c-0.001,3.367,0.849,6.685,2.461,9.622l-2.585,9.439c-0.094,0.345,0.002,0.713,0.254,0.967c0.19,0.192,0.447,0.297,0.711,0.297c0.085,0,0.17-0.011,0.254-0.033l9.687-2.54c2.828,1.468,5.998,2.243,9.197,2.244c11.024,0,19.99-8.963,19.995-19.98c0.002-5.339-2.075-10.359-5.848-14.135C34.378,6.083,29.357,4.002,24.014,4L24.014,4z">
                                            </path>
                                            <path fill="#40c351"
                                                d="M35.176,12.832c-2.98-2.982-6.941-4.625-11.157-4.626c-8.704,0-15.783,7.076-15.787,15.774c-0.001,2.981,0.833,5.883,2.413,8.396l0.376,0.597l-1.595,5.821l5.973-1.566l0.577,0.342c2.422,1.438,5.2,2.198,8.032,2.199h0.006c8.698,0,15.777-7.077,15.78-15.776C39.795,19.778,38.156,15.814,35.176,12.832z">
                                            </path>
                                            <path fill="#fff" fill-rule="evenodd"
                                                d="M19.268,16.045c-0.355-0.79-0.729-0.806-1.068-0.82c-0.277-0.012-0.593-0.011-0.909-0.011c-0.316,0-0.83,0.119-1.265,0.594c-0.435,0.475-1.661,1.622-1.661,3.956c0,2.334,1.7,4.59,1.937,4.906c0.237,0.316,3.282,5.259,8.104,7.161c4.007,1.58,4.823,1.266,5.693,1.187c0.87-0.079,2.807-1.147,3.202-2.255c0.395-1.108,0.395-2.057,0.277-2.255c-0.119-0.198-0.435-0.316-0.909-0.554s-2.807-1.385-3.242-1.543c-0.435-0.158-0.751-0.237-1.068,0.238c-0.316,0.474-1.225,1.543-1.502,1.859c-0.277,0.317-0.554,0.357-1.028,0.119c-0.474-0.238-2.002-0.738-3.815-2.354c-1.41-1.257-2.362-2.81-2.639-3.285c-0.277-0.474-0.03-0.731,0.208-0.968c0.213-0.213,0.474-0.554,0.712-0.831c0.237-0.277,0.316-0.475,0.474-0.791c0.158-0.317,0.079-0.594-0.04-0.831C20.612,19.329,19.69,16.983,19.268,16.045z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                        <p class="ms-4 mb-0"><a href="https://wa.me/5584791928">5584791928
                                            </a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>